body {
    text-align: center;
}

#container {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    margin: 0 auto;
    font-size: 0;
    overflow: hidden;
    margin-top: 10px;
}

.grid {
    float: left;
    background-color: white;
    box-sizing: border-box;
}
